.news-injection-point {
    color: #fff; /* Sets the default font color to white */
    font-size: medium; /* Sets the default font size to medium */
    display: flex; /* Turns this div into a flex container which allows us to have the 
                      browser automatically manage the formatting of content */ 
    flex-direction: column; /* Sets the direction to column (Up/down) */
}

.buttons-container {
    background-color: #00000020; /* Sets the background color for the buttons */
    position: sticky; /* Makes it so the buttons come down the page while scrolling */
    top: 0px; /* Keeps the elements 0px from the bottom of the page */
    display: flex; /* Makes it so the web broswer automatically orders items on the screen for us */
    flex-direction: row; /* Sets the direction of the flex container to row (left/right) */
    justify-content: flex-start; /* Makes it so the content starts from the left side */
    gap: 0em 1em; /* Adds a 1em horizontal gap between elements */
    flex-wrap: wrap; /* Makes it so that the buttons will try there best to stay in the flex container */
}

button.news-archive-button {
    background: none; /* Sets the background color of the buttons */
    border: none; /* Removes the border from the buttons */ 
    color: white; /* Sets the default color for the fonts */
    font-size: medium; /* Sets the defualt font size */
}

button.news-archive-button.current-news-page {
    font-weight: bold; /* Makes the font bold when it's being hovered over */
}

button.news-archive-button:hover {
    cursor: pointer; /* When the user hovers over the buttons, change the cursor to a pointer to show the user that they can click on this element */
    font-weight: bold; /* Makes the font bold when it's being hovered over */
}

.news-item-container {
    display: flex; /* Makes it so the web broswer automatically orders items on the screen for us */
    flex-direction: column; /* Sets the direction to column (Up/down) */
    text-align: center; /* Centers the text */
    gap: .75em 0em; /* Sets a gap between the elements */
    padding: 1em 0 5em 0; /* Adds padding to the bottom of each news item to make them look separate */
    max-width: 50em; /* Ensures the items in the container don't consume as much horizontal space as it wants */
    align-self: center; /* Ensures each news item centers itself along the horizontal axis */
}

.news-item-container-not-top {
    border-top: #b7b7b7 solid 1px; /* Adds a bar for the border to separate news items */
}

.news-item-container .news-item-title {
    font-size: xx-large; /* Sets the font size */
    font-weight: bold; /* Makes the font bold */
    max-width: 20em; /* Makes it so that the title is not as wide as the content in the news item */
    align-self: center; /* Makes it so that the element is centered in the news item container */
}