/* TODO Make CSS respond to changes in viewport size (make it mobile friendly) */
.team-members-container {
    display: flex; /* Turns the team members container to a flexbox */
    flex-direction: column; /* Sets the direction to column (up/down) */
    align-items: center; /* Centers (across the horizontal axis) all of the tags that are descendants of this tag */
    color: #fff; /* Sets the default color for the fonts to white */
}

.team-members-container .team-members-title {
    font-weight: bold; /* Bolds the title */
    font-size: xx-large; /* Sets the font size to xx-large */
    margin: 0; /* Removes the margins created because it's header */
    padding: 1em; /* Add padding to make the title not be near other elements */
}

/***** CSS for PI'S *****/
.team-members-container .pi-members-title {
    font-size: large; /* Sets the font size to large */
    font-weight: bold; /* Bolds the font */
    padding: 0em 0em 1em 0em; /* Adds padding to the pi-members-title tag */
    margin: 0; /* Removes the margins created because it's header */
}

.team-members-container .pi-members-container {
    display: flex; /* Turns the pi-members-container to a flexbox */
    flex-direction: row; /* Sets the direction to row */
    gap: 0em 1em; /* Adds horizontal gap between elements */
    width: 85%; /* Sets the width of the pi-members-container to 85% of the page */
}

.team-members-container .pi-member {
    display: flex; /* Turns the pi-member tags to flexboxes */
    flex-direction: column; /* Sets the direction to column */
    align-items: center; /* Centers (across the horizontal axis) all of the tags that are descendants of this tag */
    text-align: center; /* Centers the text */
    flex: 1; /* Ensures the size of each pi-member stays the same */
}

/* Customization made to PI'S individual boxes */
.pi-member .pi-member-image {
    height: 120px; /* Sets the size of a pi-member-image */
    width: 120px;
    object-fit: cover; /* Resizes the image so that it keeps it's aspect ratio, but! 
                        if it's aspect ratio does not match the aspect ratio of its box, then the object will be clipped to fit (from MDN web docs) */
    border-radius: 85%; /* Adds a circular border */
    border: solid 2px #fff; /* Creates a 2px border */
    background-color: #fff; /* Because some images are moved slightly to center the image, this is added to hide any imperfections */
}

/* Dr. Rebecca North's image gets partially cropped, therefore it needs to be pushed down slightly */
.pi-member .rebecca-norths-image {
    object-position: 2px -2px; /* Centers Dr. Rebecca North's image */
}

.pi-member .pi-member-description {
    font-size: medium; /* Sets the font size */
}

/**** Other Collaborators CSS *****/
.team-members-container .other-collaborators-title {
    font-weight: bold; /* Bolds the font */
    font-size: large; /* Sets the font size */
    padding: 1em; /* Adds padding to other-collaborators-title */
    margin: 0; /* Removes the margins created because it's header */
}

.team-members-container .other-collaborators-container {
    display: grid; /* Turns this container into a grid */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* Creates five columns of equal size */
    gap: 0em 3em; /* Adds horizontal space between elements */
    text-align: center; /* Centers text for all descendants */
    max-width: 85%; /* Sets the maximum size for the width to keep the elements from using all of the horizontal space */
}

.other-collaborators-container .other-member {
    font-size: medium; /* Set the font size for the other-member tags */
}